$main-color: rgb(0, 0, 0);
$light-color: rgba(219, 162, 252, 0.532);
$input-color: rgba(236, 236, 236, 0.2);

:export {
  mainColor: rgb(0, 0, 0);
  lightColor: rgba(219, 162, 252, 0.532);
  inputColor: rgba(236, 236, 236, 0.2);
}
